<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${item.name}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CSE 305 E-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/browse">Browse</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/orders">Orders</a>
                        <a class="dropdown-item" href="/manageaccount">Manage Account</a>
                        
                        <a class="dropdown-item" href="/cart">Cart</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin/action/signout">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Browse Page Content -->
    <div class="container text-center py-5">
        <div class="row">
            <!-- Item Viewer Section -->
            <div class="col-12">
                <div class="card">
                    <h3 class="card-header" th:text="${item.name}"></h3>
                    <div style="width:100%; text-align:left;">
                        <div style="vertical-align:top;display:inline-block; margin:20px;padding:20px; width:400px;height:300px; border: 1px solid gray;">Photo</div>
                        <div style="display:inline-block;margin:20px;">
                            <form data-th-action="@{/browse/itemdetails/{productId}/buy(productId=${item.itemId})}" data-th-object="${itemDetailsForm}">
                                <input style="width:100px;" th:field="*{quantity}" type="text" id="inputPassword" class="form-control" placeholder="Qty"
                                    required="">
                                <button style="margin-top:15px; margin-bottom:30px; width:200px;" class="btn btn-lg btn-dark btn-block" type="submit">Buy</button>
                                <b>Price: </b>
                                <span th:text="'$' + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"></span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card-header"style="position:relative">User Reviews 
                    	<button onclick="toggleReviewBox()"
                    		style="margin-top:15px; margin-bottom:30px; width:150px;right:10px; top:-10px;position:absolute;" 
                    		class="btn btn-lg btn-dark btn-block" type="submit">Add Review</button>
                    </h3>
                    <form data-th-action="@{/browse/itemdetails/{productId}/addreview(productId=${item.itemId})}">
                    	<div id="reviewbox" class="card-block" style="display:none;padding:10px;border-bottom: 1px solid gray; background: #fbfbfb;">
                    		<input name="reviewdetails" style="width:100%;" type="text" id="inputPassword" class="form-control" placeholder="Review Description..."
                                    required="">
                            <button style="margin-top:15px; margin-bottom:30px; width:200px;" 
                            class="btn btn-lg btn-dark btn-block" type="submit">Add New Review</button>
                                    
                   		</div>
                    </form>
                    <h4 th:if="${reviews.empty}" class="card-title" style="padding:10px;">No Reviews Yet</h4>
                    <th:block th:each="review: ${reviews}">
		              <div class="card-block" style="padding:10px;border-bottom: 1px solid gray; background: #fbfbfb;">
			            <div style="width:10%; height:100%; float:left;text-align:left;">
							<div>
								<b>
								<span class="card-text">Review #:</span>
								<span class="card-text" th:text=${review.reviewId}></span>
								</b>
							</div>
							<div>
								<b><span class="card-text">User Id:</span></b>
								<span class="card-text" th:text="${review.customerId}"></span>
							</div>
						</div>
						<div style="width:90%; height:100%; float: left; text-align:left; padding-left: 50px;">
							<h5>Review:</h5>
							<div th:text="${review.reviewDetails}">
							</div>
						</div>
		              </div>
		             </th:block>
                    
                </div>
            </div>
        </div>
    </div>

</body>

<script>
function toggleReviewBox(){
	var x = document.getElementById("reviewbox");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

</html>